<configuration>
    <property name="APP_NAME" value="springboot-es-kafka"/>
    <!-- 配置日志格式 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Adds a timestamp to each log entry -->
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                </timestamp>
                <!-- Adds log level (e.g. INFO, DEBUG, etc.) -->
                <logLevel>
                    <fieldName>debug</fieldName>
                </logLevel>
                <!-- Adds the logger name -->
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <!-- Adds the thread name -->
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <!-- Adds the message of the logging event -->
                <message>
                    <fieldName>message</fieldName>
                </message>
                <!-- Adds the MDC (Mapped Diagnostic Context) if used -->
                <mdc>
                    <fieldName>mdc</fieldName>
                </mdc>
                <!-- Adds exception details if an exception was logged -->
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
            </providers>
        </encoder>
        <topic>logs</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy"/>
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
        <producerConfig>bootstrap.servers=10.24.46.140:9092</producerConfig>
    </appender>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="KAFKA"/>
    </root>
</configuration>
